---
layout: base
title: Home
---
<!-- Nested row for non-featured blog posts-->
<div class="row">
	{% for post in paginator.posts %}
	<!-- Blog post-->
	<div class="col-8 mx-auto">
	<div class="card mb-4">
		<div class="card-body">
			<!-- <div class="small text-muted">{{ post.date | date_to_string }}</div> -->
			<h1 class="card-title fw-bold">{{post.title}}</h1>
			<p class="card-text">{% include short/t_post_summary.html %}</p>
			<a class="btn btn-primary" href="{{site.baseurl}}{{ post.url }}">Read more →</a>
		</div>
	</div>
	</div>
	{% endfor %}
</div>

<nav aria-label="Pagination">
<hr class="my-0">
<ul class="pagination justify-content-center my-4">
{% if paginator.previous_page and paginator.previous_page > 1 %}
	<a class="page-link" href="{{ base.url }}/page/{{ paginator.previous_page }}">Previous</a>
{% elsif paginator.previous_page and paginator.previous_page == 1 %}
	<a class="page-link" href="{{ base.url }}/">Previous</a>
{% else %}
	<a class="disabled" href="javascript:" tabindex="-1" aria-disabled="true">Previous</a>
{% endif %}
&nbsp;|&nbsp;
{% if paginator.next_page %}
	<a class="page-link" href="{{ base.url }}/page/{{ paginator.next_page }}">Next</a>
{% else %}
	<a class="disabled" href="javascript:" tabindex="-1" aria-disabled="true">Next</a>
{% endif %}
</ul>
</nav>