---
layout: base
title: Home
---
<!-- Nested row for non-featured blog posts-->
<div class="row">
	{% for post in paginator.posts %}
        {% if forloop.first %}
            {% assign bs_class = "col-12 col-md-6 col-lg-6 col-xl-12" %}
        {% else %}
            {% assign bs_class = "col-lg-6 col-md-6 col-lg-6 col-xl-4" %}
        {% endif %}	
		{% assign img_height = (bs_class contains 'col-xl-12') and '500px' or '250px' %}
	<!-- Blog post-->
	<div class="{{bs_class}}">
	<div class="card mb-4">
	{% if post.image %}
		<a href="{{site.baseurl}}{{post.url }}"><img loading="lazy" style='width: 100%; height: auto; max-height: {{img_height}}' class="card-img-top" src="{{site.baseurl}}{{post.image}}" alt="..." /></a>
	{% else %}
		<a href="{{site.baseurl}}{{post.url }}"><img loading="lazy" style='width: 100%; height: auto max-height: {{img_height}}' class="card-img-top" src="{{site.baseurl}}/uploads/cover.jpg" alt="..." /></a>
	{% endif %}
		<div class="card-body">
			<div class="small text-muted">{{ post.date | date_to_string }}</div>
			<h1 class="card-title fw-bold">{{post.title}}</h1>
			<p class="card-text">{% include short/t_post_summary.html %}</p>
			<a class="btn btn-primary" href="{{site.baseurl}}{{ post.url }}">Read more →</a>
		</div>
	</div>
	</div>
	{% endfor %}
</div>

<nav aria-label="Pagination">
<hr class="my-0">
<ul class="pagination justify-content-center my-4">
{% if paginator.previous_page and paginator.previous_page > 1 %}
	<li class="page-item"><a class="page-link" href="{{ base.url }}/page/{{ paginator.previous_page }}">Previous</a></li>
{% elsif paginator.previous_page and paginator.previous_page == 1 %}
	<li class="page-item"><a class="page-link" href="{{ base.url }}/">Previous</a></li>
{% else %}
	<!-- <li class="page-item disabled"><a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a></li> -->
{% endif %}

{% if paginator.next_page %}
	<li class="page-item"><a class="page-link" href="{{ base.url }}/page/{{ paginator.next_page }}">Next</a></li>
{% else %}
	<!-- <li class="page-item disabled"><a class="page-link" href="#" tabindex="-1" aria-disabled="true">Next</a></li> -->
{% endif %}
</ul>
</nav>