/**
* app.css
*
* Stylesheet for my blog prahladyeri.github.io
* @author Prahlad Yeri <prahladyeri@yahoo.com>
*/

h1 {
	font-weight: unset;
}

div.sidebar-about h1 {
	font-size: 35px;
}

html, .pagination, a, p {
	font-family: "Libre Baskerville","segoe ui";
}

p.copyright {
	font-size: 14px;
}

.d-none {display: none;}

.btn {
  background-color: darkslateblue;  /* #04AA6D; Green */
  border: none;
  color: white;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.project-item {
    border: 1px solid grey;
    border-radius: 4px;
    padding: 4px;
    background-color: ivory;
	margin: 4px 4px 4px 4px;
    width: 350px;
	height: 170px;
	font-family: consolas;
	vertical-align: top;
    display: inline-block;
}

.project-item.d-none {display: none;}

span.post-date {
	/* font-family: cursive; */
	font-size: 14px;
}

.content span.post-date {
    font-size: 16px;
	display: inline-block;
}


.content {
	padding-top: 2rem;
	padding-bottom: 2rem;
}

div.post, .content p, .content code, .content a, 
.content span, .content li {
    font-size: 20px;
}

.content span.post-tags {
    font-size: 18px;
}


.content .share-buttons {
	float: right;
}

.content .share-buttons a.far,
.content .share-buttons a.fas,
.content .share-buttons a.fab
 {
	color:  rgb(154,154,154);
}