h1 {
	font-weight: unset;
}

span.post-date {
	font-family: cursive;
	font-size: 14px;
}

.content {
	padding-top: 2rem;
	padding-bottom: 2rem;
}

.content p, .content code, .content a, .content span {
    font-size: 20px;
}