<!--start: adsense-->
{% if (site.adsense and site.adsense_slot) %}
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client={{ site.adsense }}"
 crossorigin="anonymous"></script>
<!-- prahladyeri.github.io -->
<ins class="adsbygoogle"
	 style="display:block"
	 data-ad-client="{{ site.adsense }}"
	 data-ad-slot="{{ site.adsense_slot}}"
	 data-ad-format="auto"
	 data-full-width-responsive="true"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>

<!--script>
(function () {
  var ins = document.currentScript.previousElementSibling.previousElementSibling; // the <ins>
  setTimeout(function () {
    // if the ad never rendered, offsetHeight will still be 0
    //if (ins && ins.offsetHeight === 0) {
	if ($("ins").find("iframe").contents().length == 0) {
      var wrapper = ins.closest('.adsense-block');
      if (wrapper) wrapper.style.display = 'none';
    }
  }, 1500);
})();
</script-->
{% endif %}
<!--end: adsense-->
