{% assign t_post_summary = post.content | markdownify | strip_html | truncatewords: 50 %}
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">

  <meta name="author" content="Prahlad Yeri">
  <!-- Enable responsiveness on mobile devices-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
  <title>
    {% if page.title == "Home" %}
      {{ site.title }} &middot; {{ site.tagline }}
    {% else %}
      {{ page.title }} &middot; {{ site.title }}
    {% endif %}
  </title>
  
  <link rel="canonical" href="{{site.url}}{{page.url}}" />

  <!-- CSS -->
  <link rel="stylesheet" href="/public/css/poole.css">
  <link rel="stylesheet" href="/public/css/syntax.css">
  <link rel="stylesheet" href="/public/css/hyde.css">
  <!-- <link rel="stylesheet" href="//fonts.googleapis.com/css?family=PT+Sans:400,400italic,700"> -->
  

	<!-- twitter card meta data -->
	<meta name="twitter:card" content="summary_large_image" />
	<meta name="twitter:site" content="@prahladyeri" />
	<meta name="twitter:creator" content="@prahladyeri" />
	{% if page.id %}
		<meta name="twitter:url" content="{{ site.url }}{{ page.url }}" />
		<meta name="twitter:title" content="{{ page.title }}" />
		<meta name="twitter:text:title" content="{{ page.title }}" />
		<meta name="twitter:description" content="{{ page.content | markdownify | strip_html | truncatewords: 50 }}" />
		<meta name="description" property="og:description" content="{{ page.content | markdownify | strip_html | truncatewords: 50 }}" />
		{% if page.image %}
			<meta name="twitter:image" content="{{ site.url }}{{ page.image }}" />
			<meta name="image" property="og:image" content="{{ site.url }}/{{ page.image }}">
		{% else %}
			<meta name="twitter:image" content="{{ site.url }}/uploads/cover.jpg" />
			<meta name="image" property="og:image" content="{{ site.url }}/uploads/cover.jpg">
		{% endif %}
	{% else %}
		<meta name="twitter:url" content="{{site.url}}{{page.url}}" />
		<meta name="twitter:title" content="{{ site.title }}" />
		<meta name="twitter:description" content="{% if site.tagline %}{{ site.tagline }}{% endif %}" />
		<meta name="twitter:image" content="https://secure.gravatar.com/avatar/3f253507b82dd33f352c08f649caaa54" />
		<meta name="image" property="og:image" content="https://secure.gravatar.com/avatar/3f253507b82dd33f352c08f649caaa54">
	{% endif %}

  <!-- Icons -->
  <!-- <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/public/apple-touch-icon-144-precomposed.png"> -->
  <link rel="shortcut icon" type="image/x-icon" href="/uploads/py.webp" />

  <!-- RSS -->
  <link rel="alternate" type="application/rss+xml" title="RSS" href="/atom.xml">
  
</head>
