html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
	font-family: "Inter", "Ubuntu", "Segoe UI", "Helvetica";
}

.container {
    flex: 1;
}

footer {
    margin-top: auto;
}

.the-article img {
	max-width: 100%;
}

.the-article {
	font-size: 20px;
}

/* Apply word wrapping to highlighted code blocks */
div.highlight, 
pre.highlight {
    white-space: pre-wrap; /* Allows wrapping of long lines */
    word-wrap: break-word; /* Breaks long words onto the next line */
    overflow-wrap: break-word; /* Provides better handling for overflow */
    max-width: 100%; /* Ensures it doesn't exceed the container width */
}