html, body {
	height: 100%;
}


body {
	font-family: "arial";
	/* height: 100%; */
	/* min-height: 100%; */
	/* position: relative; */
}

.d-none {display: none;}

p, span, label, li, a, div, footer {
	font-family: "arial";
	font-size: 18px;
	color: rgba(51, 51, 51, 0.59);
}

h1, h2, h4, h3, h5, h6 {
	margin-top: 10px;
	margin-bottom: 10px;
}

#content .post-title {
	color: #6b5fab;
}

#content .entry-title a {
	color: #7d7eb3;
}
#content .entry-title a:visited {
	color: #df9e9e;
}

footer.post-info div ,
footer.post-info a,
footer.post-info span,
footer.post-info time
{
	font-size: 15px;
}

a {
	color: #7375b3;
}

a:visited {
	color: #ad5656;
}

.font-weight-bold {font-weight: bold;}

.text-center {text-align: center;}
.text-right {text-align: right;}
.text-dark { color: black;}
.text-muted { color: slategray;}

a.nav-link {
	font-family: "arial";
	/* font-weight: bold; */
}

#navBlock {
	font-family: "arial";
}

.float-left{float: left;}
.float-right{float: right;}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}


.m-auto {margin: 0 auto;}
.mt-1 {margin-top: 0.25em;}
.mt-2 {margin-top: 0.5em;}
.mt-3 {margin-top: 0.75em;}
.mt-4 {margin-top: 1em;}
.mt-5 {margin-top: 1.25em;}

.mb-1 {margin-bottom: 0.25em;}
.mb-2 {margin-bottom: 0.5em;}
.mb-3 {margin-bottom: 0.75em;}
.mb-4 {margin-bottom: 1em;}
.mb-5 {margin-bottom: 1.25em;}

.col.w100 {width: 100%;}
.col.w33 {width: 33.33%;}
.col.w50 {width: 50%;}
.col.w25 {width: 25%;}

@media screen and (max-width: 600px) {
  .col {width: 100% !important;}
}


/* .row:after { */
  /* content: ""; */
  /* display: table; */
  /* clear: both; */
/* } */

a.nav-link {
  box-shadow: inset 0 0 0 0 #7375b3;
  color: #7375b3;
  margin: 0 -.25rem;
  padding: 0 .25rem;
  transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}
a.nav-link:hover {
  box-shadow: inset 100px 0 0 0 #7375b3;
  color: white;
}

div.highlight pre,
div.highlight pre code {
	white-space: pre-wrap;
	word-break: break-all;
}

div.highlight pre span,
div.highlight pre code span {
	font-family: monospace;
}


div.highlight code {
	display: inline-block;
	width: 100%;
}

.highlight .err {
	border: 1px solid lightgrey !important;
}


img {
	max-width: 100%;
	height: auto;
}

img.right-aligned {
	float: right;
	max-height: 90px;
	margin: 4px;
	border: 1px solid grey;
	border-radius: 8px;
}


h1.category-heading,
h1.tag-heading {
	font-size: 21px;
	font-weight: bold;
}

#header {
	height: 150px;
}

#header .blog-title {
	color: cadetblue;
}

#header .blog-tagline {
	color: #a35f5f;
}


#main {
	min-height: calc(100vh - 150px - 50px - 6px);
	/* height: 0 auto !important; */
	/* margin-bottom: -4em; */
}

/* footer#footer, #push { */
  /* height: 4em; */
/* } */

footer#footer {
	height: 50px; 
	/* height: 30px; 
	position: absolute;
	bottom: 0px;*/
	left: 0px;
	right: 0px;
	margin-left: 0px;
	margin-right: 0px;
	font-size: 14px;
}

footer#footer a {
	font-size: 14px;
}


#main footer.post-info {
	font-size: 14px;
}

#main #post-list footer.post-info {
	/* padding-top: 4px; */
	padding-bottom: 4px;
}

section#content.body div.entry-content, 
p.paginator
{
	/* margin-bottom: 50px; */
}

ul.site-links a {
	border-radius: 0px;
	height: 32px;
	padding-top: 0px;
	padding-bottom: 0px;
	line-height: 30px;
}

ul.site-links .dropdown-item:hover,
ul.site-links .dropdown-item:focus
{
	background-color: lightblue;
}
