/* start: resets */
h1, h2, h3, h4, h5, h6 {
	margin: 4px 4px;
}
/* end: resets */

body {
	font-family: "georgia";
	margin: 0px;
}

.d-none {display: none;}

p, span, label, li, a, div {
	font-family: "georgia";
	font-size: 18px;
}

footer.post-info div ,
footer.post-info a,
footer.post-info span,
footer.post-info time
{
	font-size: 15px;
}

a {
	color: blueviolet;
}

a:visited {
	color: darkmagenta;
}

.font-weight-bold {font-weight: bold;}

.text-center {text-align: center;}
.text-right {text-align: right;}
.text-dark { color: black;}
.text-muted { color: slategray;}

a.nav-link {
	font-family: "georgia";
	font-weight: bold;
}

#navBlock {
	font-family: "georgia";
}

.float-left{float: left;}
.float-right{float: right;}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}


.m-auto {margin: 0 auto;}
.mt-1 {margin-top: 0.25em;}
.mt-2 {margin-top: 0.5em;}
.mt-3 {margin-top: 0.75em;}
.mt-4 {margin-top: 1em;}
.mt-5 {margin-top: 1.25em;}

.mb-1 {margin-bottom: 0.25em;}
.mb-2 {margin-bottom: 0.5em;}
.mb-3 {margin-bottom: 0.75em;}
.mb-4 {margin-bottom: 1em;}
.mb-5 {margin-bottom: 1.25em;}

.col.w100 {width: 100%;}
.col.w33 {width: 33.33%;}
.col.w50 {width: 50%;}
.col.w25 {width: 25%;}

@media screen and (max-width: 600px) {
  .col {width: 100% !important;}
}


/* .row:after { */
  /* content: ""; */
  /* display: table; */
  /* clear: both; */
/* } */

a.nav-link {
  box-shadow: inset 0 0 0 0 blueviolet;
  color: blueviolet;
  margin: 0 -.25rem;
  padding: 0 .25rem;
  transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}
a.nav-link:hover {
  box-shadow: inset 100px 0 0 0 blueviolet;
  color: white;
}

div.highlight pre,
div.highlight pre code {
	white-space: pre-wrap;
	word-break: break-all;
}

div.highlight pre span,
div.highlight pre code span {
	font-family: monospace;
}


div.highlight code {
	display: inline-block;
	width: 100%;
}

.highlight .err {
	border: 1px solid lightgrey !important;
}


img {
	max-width: 100%;
	height: auto;
}

img.right-aligned {
	float: right;
	max-height: 90px;
	margin: 4px;
	border: 1px solid grey;
	border-radius: 8px;
}


h1.category-heading,
h1.tag-heading {
	font-size: 21px;
	font-weight: bold;
}

#header {
	height: 200px;
}

#header .blog-title {
	color: cadetblue;
}

#header .blog-tagline {
	color: maroon;
}


#main {
	min-height: calc(100vh - 250px);
}

#footer {
	height: 30px;
}


#main footer.post-info {
	font-size: 14px;
	font-weight: bold;
}

section#content.body div.entry-content, 
p.paginator
{
	/* margin-bottom: 50px; */
}

ul.site-links a {
	border-radius: 0px;
	height: 32px;
	padding-top: 0px;
	padding-bottom: 0px;
	line-height: 30px;
}

ul.site-links .dropdown-item:hover,
ul.site-links .dropdown-item:focus
{
	background-color: lightblue;
}
