/* BOOTSTRAP-4 CAROUSEL ARROWS */
/*
div#demo a.carousel-control-prev span.carousel-control-prev-icon,
div#demo a.carousel-control-next span.carousel-control-next-icon {
  height: 100px;
  width: 100px;
  outline: black;
  background-size: 100%, 100%;
  border-radius: 50%;
  border: 1px solid black;
  background-image: none;
}

div#demo a.carousel-control-next span.carousel-control-next-icon:after
{
  content: '>';
  font-size: 55px;
  color: red;
}

div#demo a.carousel-control-prev span.carousel-control-prev-icon:after {
  content: '<';
  font-size: 55px;
  color: red;
}
*/

html, body {
	height: 100%;
	position: relative;
}

body {
	font-family: "segoe ui", "trebuchet ms", tahoma, georgia, rubik, "roboto slab";
	min-height: 100%;
	height: auto !important;
}

body, div.container.content
{
	background-color: white; /*azure, khaki, beige, oldlace;*/
}

div.highlight pre,
div.highlight pre code {
	white-space: pre-wrap;
	word-break: keep-all;
}

div.highlight code {
	display: inline-block;
	width: 100%;
}

img {
	max-width: 100%;
	height: auto;
}

img.right-aligned {
	float: right;
	max-height: 240px;
	max-width: 240px;
	margin: 4px;
	border: 1px solid grey;
	border-radius: 8px;
}

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}

blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

blockquote p {
  display: inline;
}

h1.entry-title {
	margin: 20px 0px 20px 0px;
	font-size: 2rem;
	font-weight: bold;
}

.highlight .err {
	border: 1px solid lightgrey !important;
}

section#content.body div.entry-content, 
p.paginator
{
	/* margin-bottom: 50px; */
}

/* img#githubLogo { */
    /* background-image: url(/uploads/github.png); */
    /* background-repeat: no-repeat; */
	/* width: 70px; */
	/* height: 70px; */
	/* border-radius: 50%;	 */
/* } */

.about-image {
	/* border-radius: 50px; */
	/*border: 1px solid black;*/
}

ul.site-links a {
	border-radius: 0px;
	height: 32px;
	padding-top: 0px;
	padding-bottom: 0px;
	line-height: 30px;
}

ul.site-links .dropdown-item:hover,
ul.site-links .dropdown-item:focus
{
	background-color: lightblue;
}

@media only screen and (min-width:1090px) {
	.row.header nav.site-links a {
		/* padding: 10px 10px; */
	}
}

nav#mainHeader {
	font-family: tahoma, georgia, rubik,"roboto slab","segoe ui", sans-serif;
	padding-top: 0px;
	padding-bottom: 0px;
}

/*
nav#mainHeader .heading1 {
	color: #fff;
    background-color: royalblue;
    padding: 2px 12px 2px 12px;
    font-style: italic;
    font-weight: bold;
    border-radius: 8px;
}
*/

nav#mainHeader .heading2 {
	margin: 0px;
/*
    background-color: yellow;
    color: black!important;
    padding: 2px 14px 2px 14px;
    border-radius: 8px;
*/
    font-style: italic;
    font-weight: normal!important;
}

/* nav#mainHeader li.nav-item a.nav-link.dropdown-toggle.active  */

nav#mainHeader li.nav-item a.nav-link.active,
nav#mainHeader li.nav-item:hover a.nav-link,
nav#mainHeader li.nav-item.dropdown div.dropdown-menu a.dropdown-item:hover
{
	background-color: darkslategray; /*#009688;*/
	color: #fff;
	/* #007bff; */
}

nav#mainHeader a.nav-link {
	line-height: 1.3;
}

div#main.container {
	margin-top: 0px; /*20px*/
	margin-bottom: 23px;
    
    /*
	min-height: 81.4vh;
	height: auto !important;
     height: 100%; 
    margin: 0 auto; */
	/* the bottom margin is the negative value of the footer's height */
}

div#main.container
{
	/* only for pages 
	font-size: 1.1rem;*/
	font-size: 18px;
}

div#main.container footer.post-info {
	font-size: 14px;
	font-weight: bold;
}

h1.category-heading,
h1.tag-heading {
	font-size: 21px;
	font-weight: bold;
}

#footer {
	position: absolute;
	bottom: 0px;
	width: 100%;
}

