---
layout: base
---
<div class='row'>
<div class="col-lg-8 mx-auto">
<article class='the-article'>
	<!-- Post header-->
	<header class="mb-4">
		<!-- Post title-->
		<h1 class="fw-bolder mb-1">{{page.title}}</h1>
		<!-- Post meta content-->
		<div class="text-muted fst-italic mb-2">Posted on {{ page.date | date_to_string }}</div>
		<!-- Post tags-->
		  {% for tag in page.tags %}
			{% capture tag_name %}{{ tag }}{% endcapture %}
			<a class='mb-1 text-decoration-none fw-bold' href="{{site.baseurl}}/tag/{{ tag_name }}">{{ tag_name }}</a>
		  {% endfor %}
	</header>
	<!-- Preview image figure-->
	<!-- <figure class="mb-4"><img class="img-fluid rounded" src="https://dummyimage.com/900x400/ced4da/6c757d.jpg" alt="..." /></figure> -->
	<!-- Post content-->
	<section class="mb-5">
		{{ content }}
	</section>
</article>

<script src="https://giscus.app/client.js"
        data-repo="prahladyeri/prahladyeri.github.io"
        data-repo-id="MDEwOlJlcG9zaXRvcnkyODQxOTc3NTU="
        data-category="General"
        data-category-id="DIC_kwDOEPCDe84CkEKm"
        data-mapping="pathname"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="bottom"
        data-theme="light"
        data-lang="en"
        crossorigin="anonymous"
        async>
</script>

<div class="adsense-block mb-5">
{% include as.html %}
</div>
 </div>
</div>