---
layout: base
paginate: 10
paginate_path: "/tag/:tag/page/:num/"
---
<div class="post">
<h1>Tag: {{ page.tag }}</h1>
<ul>
{% assign posts_by_tag = site.tags[page.tag] %}
{% assign per_page = 10 %}
{% assign total_pages = posts_by_tag | size | divided_by: per_page | ceil %}
{% assign current_page = page.pagination_page | default: 1 %}
{% assign paginator_posts = posts_by_tag | slice: (current_page | minus: 1) | times: per_page, per_page %}


{% for post in paginator_posts %}
  <li><a href="{{ post.url }}">{{ post.title }}</a> ({{ post.date | date_to_string }})<br>
    {{ post.content | markdownify | strip_html | truncatewords: 50 }}
  </li>
{% endfor %}
</ul>
</div>

<nav aria-label="Pagination">
<hr class="my-0">
	<ul class="pagination justify-content-center my-4">
    {% if current_page > 1 %}
      <li class="page-item"><a class="page-link" href="{{ base.url }}/{{ current_page | minus: 1 }}">Previous</a></li>
    {% endif %}

    {% if current_page < total_pages  %}
      <li class="page-item"><a class="page-link" href="{{ base.url }}/{{ current_page | plus: 1 }}">Next</a></li>
    {% endif %}
	</ul>
</nav>
