---
layout: base
---
<div class="post">
<span class="badge rounded-pill bg-light text-danger mb-1 text-decoration-none border fw-bold">tag: {{ page.tag }}</span>
<table class='mt-1 table table-sm table-bordered'>
<thead>
  <tr class='table-active'>
	<th>Title</th>
	<th style="white-space: nowrap; width: 1%;">Date</th>
  </tr>
</thead>
<tbody>
{% for post in site.tags[page.tag] %} 
  <tr>
  <td><a href="{{ post.url }}">{{ post.title }}</a></td>
  <td style="white-space: nowrap;">{{ post.date | date: "%Y-%m-%d" }}</td>
  </tr>
{% endfor %}
</tbody>
</table>
</div>